
header {
    background: rgb(88, 88, 88);
    height: 150px;
    width: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
}

.left-side{
    background: rgb(167, 167, 167);
    width: 150px;
    top: 150px;
    height: 100vh;
    float: left;
    position: absolute;
    left: 0;
}
.right-side{
    background: rgb(167, 167, 167);
    width: 150px;
    top: 150px;
    height: 100vh;
    right: 0px;
    position: absolute;
    
}
body {
    background: rgb(228, 224, 224);
}
footer{
    background: rgb(40, 40, 40);
    bottom: 0;
    left: 150px;
    height: 150px;
    right: 150px;
    position: fixed;
}